
* {
  	transition: .2s;
  }

.dropdown.menu:nth-of-type(1) {
    display: block!important;
    top: -9px!important;
    left: -483px!important;
    height: 41px;
    width: 100vw;
    z-index: -1;
    background: #353535;
    transform: opacity(0);
    /* filter: opacity(0); */
    opacity: 0;
    transition: .5s cubic-bezier(0.86, -0.76, 1, 1);
	transition-delay: .7s;
	border: none;
}

.dropdown.menu a:nth-last-of-type(5):hover {
    box-shadow: inset 0px -3px 0 #ff8d17;
}


.dropdown.menu a {
    display: inline-block;
    height: 17px;
    width: auto;
    vertical-align: middle;
    color: white!important;
    padding: 12px 25px;
}

.work {
	width: 150px;
	height: 35px;
	border-radius: 15px;
	background: grey;
	position: absolute;
	top: 500px;
	right: 500px;
	text-align: center;
}


ul.toolbar.clearfix li {
    margin: 10px 0;
}

ul.toolbar {
    background-color: #ffffff;
    border-bottom: none;
    padding: 8px 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px!important;
    height: 44px;	
}

.toolbar .dropdown {
	border: solid #f5f5f5 1px;
	box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.15);
}


.Grid table th {
	background: #1FB09F;
}

.toolbar.clearfix li span a {
    text-decoration: none!important;
}

.onform, .dialout, .calling, .direct, .busy {
    color: #1FB09F;
}

ul.toolbar>li + li {
    border-left: 1px solid #eeeeee;
}

tr.row:nth-of-type(2n) {
    background: #f7f7f7;
}

/* .fw2-tabs .tab {
    border: 1px solid #eeeeee;
    background: white;
	margin-right: 10px;
	box-shadow: 0 7px 13px 1px rgba(0, 0, 0, 0.15);
}
*/
.fw2-tabs .tab {
    border: none!important;
    background: white;
    margin: 0!important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1)!important;
}

.fw2-tabs ul.labels {
    border-bottom: 1px solid #eeeeee;
    background: none;
	margin-right: 10px;
}

.fw2-tabs ul.labels > li.current {
    color: #333;
    background: linear-gradient(#fff, #f7f7f7);
    padding: 0 13px 2px;
    border: none; /*1px solid #eeeeee;*/
    border-radius: 3px 3px 0 0;
    box-shadow: 0px -2px 0px #1fb09fd4;
}

#wrapper {
    background: whitesmoke;
    display: grid;
    grid-auto-rows: min-content;
	overflow-x: hidden; 
}

.fw2-tabs ul.labels > li:not(.current):hover {
    border: 1px solid #eeeeee;
    box-shadow: 0px -2px 0px #1fb09f2b;
}

.fw2-tabs ul.labels > li {
    border: 1px solid #eeeeee;
    border-bottom: 1px solid #F9F9F9;
}

a.icon_ag_logout {
    background: url(../img/agent_icons/icons_exit2-512.png) 2px 70% no-repeat;
    padding: 10px 13px 9px 22px;
    background-size: 25px;
    width: 31px!important;
    height: 35px;
    filter: invert(30%);
}

a.icon_dial {
    background: url(../img/agent_icons/Call01-512.png) 2px 70% no-repeat;
    padding: 1px 0 1px 22px;
    line-height: 18px;
    background-size: 20px;
    filter: invert(30%);
}

.link-item a.icon_dial {
    padding: 1px 0 1px 29px;
}

a.icon_record {
    background: url(../img/agent_icons/icons_play-512.png) 2px 70% no-repeat;
    padding: 1px 0 1px 22px;
    line-height: 18px;
    filter: invert(30%);
    background-size: 17px;
}

span#state_str {
    background: url(../img/agent_icons/icons_Message-512.png) 2px 70% no-repeat;
    padding: 5px 0px 5px 29px;
    line-height: 18px;
    font-weight: bold;
    background-size: 20px;
    filter: invert(30%);
}

a.icon_hangup {
    background: url(../img/agent_icons/icons_exit-512.png) 2px 70% no-repeat;
    padding: 1px 0 3px 30px;
    line-height: 18px;
    background-size: 24px;
    filter: invert(30%);
}

a.icon_close_form {
    background: url(../img/agent_icons/icons_time-512.png) 2px 70% no-repeat;
    padding: 5px 0px 2px 30px;
    line-height: 18px;
    background-size: 19px;
	filter: invert(30%);
}

a.icon_pause {
    background: url(../img/agent_icons/25_Pause-512.png) 2px 70% no-repeat;
    padding: 7px 0px 4px 29px;
    line-height: 18px;
    background-size: 19px;
    filter: invert(30%);
}

a.icon_call_history {
    background: url(../img/agent_icons/icons_paste-512.png) 2px 70% no-repeat;
    padding: 1px 0 1px 29px;
    line-height: 18px;
    background-size: 18px;
    filter: invert(30%);
}

a.icon_transfer {
    background: url(../img/agent_icons/icons_transfer-512.png) 2px 70% no-repeat;
    padding: 1px 0 1px 29px;
    line-height: 18px;
    background-size: 18px;
    filter: invert(30%);
}

a.icon_hold {
    background: url(../img/agent_icons/microphone-slash-512.png) 2px 70% no-repeat;
    padding: 4px 0px 3px 29px;
    line-height: 18px;
    background-size: 19px;
	filter: invert(30%);
}

a.icon_unhold { 
    background: url(../img/agent_icons/microphone-nonslash-512.png) 2px 70% no-repeat;
    padding: 4px 0px 3px 29px;
    line-height: 18px;
    background-size: 19px;
        filter: invert(30%);
}

a.icon_unpause {
    background: url(../img/agent_icons/icons_user-512.png) 2px 70% no-repeat;
    padding: 1px 0 1px 31px;
    line-height: 18px;
    background-size: 20px;
    filter: invert(30%);
}

.toolbar li a:hover {
    filter: none;
}

#agent_actions span {
    padding: 23px 10px 23px 8px;
}

#agent_actions span:hover {
    box-shadow: inset 0px -3px 0 #1fb09f;
}


.fw2-tabs {
    z-index: 2;
    position: relative;
	margin: 0 5px; 
}

*::selection {
    background: #4a4a4a;
    color: white!important;
}

div#footer.agent_footer {
  border-top: 1px solid #c6c6c6;
  margin-top: -31px;
  line-height: 30px;
}

#header {
    padding: 0;
    z-index: 1;
    position: relative;
}

.toolbar.clearfix li span a {
    text-decoration: none!important;
}


li#agent_actions span:hover .dropdown.menu {
    transition: 0.2s;
    top: 41px!important;
    opacity: 1;
}

.toolbar .menu a:hover {
    background: #484848;
    box-shadow: inset 0 -3px 0 #1fb09f;
}

#widgets .tab {
    margin-bottom: 15px!important;
}

#agent_actions span > a {
    padding: 24px 0px 24px 29px; 
    background-position: 2px 50%; 
}

#middle {
    width: 100%;
    padding: 10px 0 40px;
    height: 1%;
    z-index: 0; /*Новое.*/
}